In [29]:
import pyspark
spark = pyspark.sql.SparkSession.builder.getOrCreate()
sc = spark.sparkContext

In [2]:
spark

In [3]:
sc

In [24]:
ratings = spark.read.json('data/ratings.json')

In [25]:
ratings.limit(5).show()

+--------+------+------------+-------+
|movie_id|rating|   timestamp|user_id|
+--------+------+------------+-------+
|     858|     4|9.56678732E8|   6040|
|    2384|     4|9.56678754E8|   6040|
|     593|     5|9.56678754E8|   6040|
|    1961|     4|9.56678777E8|   6040|
|    1419|     3|9.56678856E8|   6040|
+--------+------+------------+-------+

In [21]:
requests = spark.read.json('data/requests.json')

In [26]:
requests.limit(5).show()

+--------+------+------------+-------+
|movie_id|rating|   timestamp|user_id|
+--------+------+------------+-------+
|    2019|   NaN|9.56678777E8|   6040|
|     759|   NaN|9.56679248E8|   6040|
|    2858|   NaN|9.56679275E8|   6040|
|     246|   NaN|9.56679413E8|   6040|
|    1617|   NaN|9.56679473E8|   6040|
+--------+------+------------+-------+

In [36]:
movies_m = spark.read.csv('data/movies_metadata.csv')

In [37]:
movies_m.limit(5).show()

+-----+--------------------+--------+--------------------+--------------------+-----+---------+-----------------+-----------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+
|  _c0|                 _c1|     _c2|                 _c3|                 _c4|  _c5|      _c6|              _c7|              _c8|                 _c9|      _c10|                _c11|                _c12|                _c13|                _c14|                _c15|                _c16|                _c17|    _c18|                _c19|                _c20|    _c21|                _c22|             _c23|
+-----+--------------------+--------+--------------------+--------------------+-----+---------+-----------------+-----------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+
|adult|belongs_to_collec...|  budget|              genres|            homepage|   id|  imdb_id|original_language|   original_title|            overview|popularity|         poster_path|production_companies|production_countries|        release_date|             revenue|             runtime|    spoken_languages|  status|             tagline|               title|   video|        vote_average|       vote_count|
|False|{'id': 10194, 'na...|30000000|[{'id': 16, 'name...|http://toystory.d...|  862|tt0114709|               en|        Toy Story|Led by Woody, And...| 21.946943|/rhIRbceoE9lR4veE...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|          1995-10-30|           373554033|                81.0|[{'iso_639_1': 'e...|Released|                null|           Toy Story|   False|                 7.7|             5415|
|False|                null|65000000|[{'id': 12, 'name...|                null| 8844|tt0113497|               en|          Jumanji|When siblings Jud...| 17.015539|/vzmL6fP7aPKNKPRT...|[{'name': 'TriSta...|[{'iso_3166_1': '...|          1995-12-15|           262797249|               104.0|[{'iso_639_1': 'e...|Released|Roll the dice and...|             Jumanji|   False|                 6.9|             2413|
|False|{'id': 119050, 'n...|       0|[{'id': 10749, 'n...|                null|15602|tt0113228|               en| Grumpier Old Men|A family wedding ...|   11.7129|/6ksm1sjKMFLbO7UY...|[{'name': 'Warner...|[{'iso_3166_1': '...|          1995-12-22|                   0|               101.0|[{'iso_639_1': 'e...|Released|Still Yelling. St...|    Grumpier Old Men|   False|                 6.5|               92|
|False|                null|16000000|[{'id': 35, 'name...|                null|31357|tt0114885|               en|Waiting to Exhale|"Cheated on, mist...|    Bernie| Glo and Robin ta...| determined to fi...|            3.859495|/16XOMpEaLWkrcPqS...|[{'name': 'Twenti...|[{'iso_3166_1': '...|          1995-12-22|81452156|               127.0|[{'iso_639_1': 'e...|Released|Friends are the p...|Waiting to Exhale|
+-----+--------------------+--------+--------------------+--------------------+-----+---------+-----------------+-----------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+

In [38]:
movies_m.persist()

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string, _c17: string, _c18: string, _c19: string, _c20: string, _c21: string, _c22: string, _c23: string]

In [39]:
movies_m.limit(5).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,...,_c14,_c15,_c16,_c17,_c18,_c19,_c20,_c21,_c22,_c23
0,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
1,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Toy Story,False,7.7,5415
2,False,None,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",None,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
3,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",None,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
4,False,None,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",None,31357,tt0114885,en,Waiting to Exhale,"""Cheated on, mistreated and stepped on, the wo...",...,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale

* 720,000 reviews
* some users that we're testing on that don't exist (haven't rated anything that is in the training data 
* is the user id the same as what we have in the user dat file 
* end goal, someone who hasn't rated anything

In [52]:
users = sc.textFile("data/users.dat")

In [53]:
type(users)

pyspark.rdd.RDD

In [80]:
import pandas as pd 
with open("data/users.dat") as f:
   next(f) # skip first row
   users_df = pd.DataFrame(l.rstrip().split() for l in f)

users_df.head()

                     0
0  2::M::56::16::70072
1  3::M::25::15::55117
2   4::M::45::7::02460
3  5::M::25::20::55455
4   6::F::50::9::55117

In [81]:
users_df[['ID','sex', 'age', 'occupation', 'zipcode']] = users_df[0].str.split("::",expand=True,)

In [82]:
users_df = users_df.drop([0], axis=1)

In [84]:
users_df.head()

  ID sex age occupation zipcode
0  2   M  56         16   70072
1  3   M  25         15   55117
2  4   M  45          7   02460
3  5   M  25         20   55455
4  6   F  50          9   55117

In [85]:
users_df.to_csv('users.csv')